<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Mikrofon -->
    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />

    <!-- Háttérben futó szolgáltatás -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Mikrofonos foreground service -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <!-- Értesítések -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Automatikus indulás újraindítás után -->
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:label="Nova"
        android:theme="@style/Theme.Nova">

        <!-- Nova főablaka -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <!-- Nova háttérszolgáltatása -->
        <service
            android:name=".NovaService"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <!-- Nova indítása telefon újraindításakor -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />

            </intent-filter>

        </receiver>

    </application>

</manifest>
